<!DOCTYPE html>
<html>
<head>
  <title>Time Stomp</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <script type="text/javascript" src='./scripts/copyScript.js'></script>

  <script type="text/javascript" src='./scripts/timeConversions.js'></script>

  <script type="text/javascript" src='./scripts/timesheetConstructor.js'></script>

  <script type="text/javascript" src="./controller.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="./css/myStyles.css">

</head>
<body>
  <div ng-app='timeStamper' ng-controller='winston'>

    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <a href='#' class='navbar-brand'>Time Stomp</a>
        </div>
      </div>
    </nav> 

    <div class='panel panel-default controls'>

      <div class='panel-heading'>
        <h2 class='panel-title pull-left'>
          Controls
        </h2>
        <div class='clearfix'></div>
      </div>

      <center>
        <form ng-submit="addTimeStamp()" class='stampInput'>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ convert(currentSheet.currentTime) }}</span>
            <input type="text" ng-model='textTag' class="form-control" placeholder="Your text here..." aria-describedby="basic-addon1">
          </div>
        </form>
      </center>

      <center>
        <button type="button" ng-click='interpretButtonPress()' class="pull-center controlsButton btn btn-default">{{ getButtonText() }}</button>
      </center>

    </div>




    <div class="panel panel-default pull-right timesheet">
      <div class="panel-heading">
        <h2 class='panel-title pull-left'>
          {{ currentSheet.title }}
        </h2>
        <a title="Copy timestamps" class='btn btn-default pull-right copy-btn' ng-click='copyButton()'>
          Copy
        </a>
        <div class='clearfix'></div>
        
      </div>

      <ul class='list-group stampCollection'>
        <li class='list-group-item timestamp' ng-repeat='stamp in currentSheet.stamps track by $index'>
          {{ convert(stamp.time) }} - {{ stamp.text }}
        </li>
      </ul>

    </div>

  </div>
</body>
</html>