html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.timesheet {
  margin: 4px;
  margin-top: 0px;
  width: 60%;
}

.timestamp {
  word-wrap: break-word;
}

.stampCollection {
  overflow-y: auto;
  max-height: 400px;
}

.controls {
  position: fixed;
  margin: 4px;
  margin-top: 0px;
  width: 38%;
}

.stampInput {
  position: relative;
  width: 97%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.controlsButton {
  margin-bottom: 6px;
  position: relative;
  width: 97%;
}

.panel-title {
  margin: 10px 15px;
}

.panel-heading {
  padding: 0px;
  margin-right: 0px;
}

.copy-btn {
  margin: 3px 7px;

  padding: 4px 11px;
}
/*
.manual-adjust {
  padding-right: 0px;
}*/


