<div ng-controller='NewTimesheet'>
  <div class='row'>
    <div class='col-xs-0 col-sm-2'></div>

      <h3 class='col-xs-12 col-sm-8'>
        <center>
          What should we call your timesheet?
        </center>
      </h3>

    <div class='col-xs-0 col-sm-2'></div>
  </div>

  <div class='row'>
    <div class='col-xs-1 col-sm-3'></div>


      <form ng-submit='createTimesheet()' class='col-xs-10 col-sm-6 input-group'>
        
        <input ng-model="inputText" type="text" class="form-control" placeholder="Your title goes here..." aria-describedby="sizing-addon1"></input>
        <span class="input-group-addon" id="basic-addon1" ng-click="createTimesheet()">
          Create
        </span>

      </form>


    <div class='col-xs-1 col-sm-3'></div>
  </div>
</div>